.all-places { display: flex;
              flex-wrap: wrap;
              justify-content: center;
              height: 150px;
              
}

.place { position: relative;
         display: flex;
         text-align: left;
         vertical-align: top;
         flex-wrap: wrap;
         justify-content: center;
         padding: 30px;
}

h1 { 
     width: 90%;
     margin-left: auto;
     text-indent: 10%;
}

.info-container { position: relative;
                  width: 350px;
                  height: auto;
                  border: 1px solid #FF5A5F;
                  top: 0;
                  right: 0;
                  left: 0;
                  bottom: 0;
}
.info-container h2 { text-align: center; margin : 10px;}
.info-container .reviews h2, .info-container .amenities h2 { text-align: left;}
    /* trully front end is something*/
.price_by_night { color: #FF5A5F;
             border: 3px solid #FF5A5F;
             width: 55px;
             height: 55px;
             font-size: 25px;
             border-radius: 50%;
             position: absolute;
             top: 10px;
             right: 10px;
             align-items: center;
             display: flex;
             justify-content: center;
             align-items: center;
}

.image-container { display: flex;
                   justify-content: space-evenly;
                   flex-wrap: wrap;
                   margin-top: 40px;
                   border-top: 1px solid #DDDDDD;
                   border-bottom: 1px solid #DDDDDD;
                   width : 90%;
                   align: center;
                   margin-left: 15px;
}

.desc { margin: 10px; margin-top: 20px;}

.amenpics { 
   align-content: left;
   margin-left: -30px;
   height: 25px;
}

.amenities ul {display: flex; align-items: center;}
.amenities ul img {margin-right: 5px;}
.amenities ul span { margin-bottom: 5px;
                     display: inline-block;
                     vertical-align: middle; 
}

.reviews h3 {font-size: 14px;}
.reviews ul h3,
.reviews p{
          text-align: left;
          margin-left: 10px;
}
